# any JSON file in the top-level directory:
/*.json

# development related
/.vscode/
*.code-workspace

# testing
.pytest_cache/
.coverage
htmlcov/

# Python bytecode, eggs, build and dist, ...
*.pyc
src/*.egg-info/
/build/
/dist/

# virtualenv
/.venv/
