# development related
*.code-workspace

# testing
.pytest_cache/
.coverage
htmlcov/

# Python bytecode, eggs, build and dist, ...
*.pyc
src/*.egg-info/
/build/
/dist/

# virtualenv
/.venv/

# WinSW logs, config file and executable:
src/psytricks/__ps1__/*.log
src/psytricks/__ps1__/restricks-server.xml
src/psytricks/__ps1__/restricks-server.exe
